body {
    text-align: center;
}
ul {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arcadeGame {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
	margin: 0 auto;
}
#players {
	padding: 0;
	margin: 0;
}
#players li.playerList {
	padding: 0;
	margin: 0;
	background: #ccc;
	border-radius: 90px 90px 90px 90px;
	padding: 10px;
	margin-right: 10px;
}
#players li.playerList.selected{
	background: red;
}
.gameDetails{
	width: 100%;
}
.score {
    width: 15%;
}
.timer {
    width: 30%;
}