html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
	margin: 0 auto;
}
/*Styles for Player List*/
.players {
	padding: 0;
	margin: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.players li.playerList {
	padding: 0;
	margin: 0;
	background: #ccc;
	border-radius: 90px 90px 90px 90px;
	padding: 5px;
	margin-right: 10px;
    display: inline-block;
    list-style: none;
    width: calc((100% - 70px) / 4);
    cursor: pointer;
}
.players li.playerList:last-of-type {
    margin-right: 0;
 }
.players li.playerList img{
    max-width: 100%;
 }
.players li.playerList.selected{
	background: rgb(0,255,200);
}
/*Styles for the Score Panel*/
.score-panel {
    text-align: left;
    width: 90%;
    margin-bottom: -40px;
    font-size: 1em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .stars li .fa {
    color: #ccc;
}
.score-panel .stars li .fa.active {
    color: #02ccba;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 10px;
}
.score-panel .help {
    float: right;
    cursor: pointer;
}
.score-panel .play {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.2em;
}
.score-panel .timer {
    float: right;
    margin-right: 15px;
}

.score-panel .errorMsg {
    color: red;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
/*******mobile button style******/
.btnMobile {
	width: 100%;
  	margin: 0 auto;
  	text-align: center;
}

.btnMobile button {
	width: 40px;
    height: 40px;
    line-height: 30px;
    font-size: 2.5em;
    border-radius: 50%;
    background-color: transparent;
    border-style: none;
    margin: 2px 15px;
}

.btnMobile button:focus {
    outline: none;
}

.hidden {
	display: none;
}

/* Styles for the modal box*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.summary {
    text-align: center;
    font-size: 1em;
}

.summary h1{
    font-size: 1.4em;
}

.summary h2{
    margin: 10px 0 0 0;
    color: #02ccba;
    font-size: 1.2em;
}

.summary ul {
    margin: 0;
    padding: 0;
}

.summary li {
    list-style: none;
    padding:0;
    line-height: 20px;
    position: relative;
}
.summary li img {
	max-width: 20px;
	position: relative;
	top: 7px;
}

.finalMoves, .finalTime {
    font-weight: 600;
}

.btnmodal {
    border-radius: 5px 5px 5px 5px;
    background: #311432;
    color: #fff;
    padding: 10px 12px;
    font-size: 24px;
    border: none;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
}

.btnmodal:hover {
    background: #784b84;
}


/** media queries*/
@media (min-width: 680px) {
    .modal-content {
        width: 550px;
    }

    .players {
        width: 600px;
    }
    .players li.playerList {
		padding: 15px;
	    width: calc((100% - 150px) / 4);
    }

    .score-panel{
        width: 500px;
        font-size: 1.2em;
    }

    .score-panel .stars {
	    margin: 0 15px;
	}

    h1 {
        font-size: 3rem;
    }
}