html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
	margin: 0 auto;
}
/*Styles for Player List*/
.players {
	padding: 0;
	margin: 0;
    display: inline-block;
}
.players li.playerList {
	padding: 0;
	margin: 0;
	background: #ccc;
	border-radius: 90px 90px 90px 90px;
	padding: 10px;
	margin-right: 10px;
    display: inline-block;
    list-style: none;
}
.players li.playerList.selected{
	background: red;
}
/*Styles for the Score Panel*/
.score-panel {
    text-align: left;
    width: 90%;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 15px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .stars li .fa {
    color: #ccc;
}
.score-panel .stars li .fa.active {
    color: #02ccba;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    float: right;
    margin-right: 15px;
}

.score-panel .errorMsg {
    color: red;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
